Scripts/Skill_Salvar_Obsidian.json
{
  "id": "SkillObsidianV3",
  "name": "🛠️ Skill: Salvar no Obsidian (CÓDIGO PURO)",
  "nodes": [
    {
      "parameters": {},
      "id": "execute-trigger-id",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst data = $input.item.json;\nconst filename = (data.filename || data.fileName || data.title || data.name || data.titulo || 'Nota_Maia_Vazia').replace(/[^a-zA-Z0-9_.-]/g, '_');\nconst content = data.content || data.text || data.body || data.conteudo || data.texto || 'O agente esqueceu de mandar o texto.';\nconst path = '/Users/fsantoro/Desktop/Maia server/Knowledge_Base/02_Recursos/' + filename + '.md';\n\ntry {\n  fs.writeFileSync(path, content, 'utf8');\n  return { json: { success: true, file: filename + '.md', saved_content: content.substring(0, 50) + '...' } };\n} catch (error) {\n  return { json: { success: false, error: error.message } };\n}"
      },
      "id": "code-write",
      "name": "Gravar via Código",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "response_to_ai",
              "value": "=Arquivo salvo com sucesso no Mac! O conteúdo foi guardado com segurança."
            }
          ]
        },
        "options": {}
      },
      "id": "set-response-id",
      "name": "Aviso de Sucesso",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Gravar via Código",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravar via Código": {
      "main": [
        [
          {
            "node": "Aviso de Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
