Scripts/Telegram_Agent_CRM.json
{
  "name": "🤖 CRM Master: Telegram Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "telegram-trigger-id",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Você é o Agente Inteligente do Servidor Maia.\nVocê deve ajudar o usuário com as suas solicitações.\nSe precisar salvar algo importante de conhecimento, use a ferramenta de Obsidian.\nSe precisar ler ou criar leads, use a ferramenta do Banco de Dados."
        }
      },
      "id": "ai-agent-id",
      "name": "AI Agent (Orquestrador)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "model": "gemma4:26b",
        "options": {
          "baseUrl": "http://127.0.0.1:11434"
        }
      },
      "id": "ollama-model-id",
      "name": "Ollama Gemma 4:26b",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        400,
        500
      ]
    },
    {
      "parameters": {},
      "id": "memory-id",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [
        550,
        500
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "telegram-reply-id",
      "name": "Telegram Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        800,
        300
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent (Orquestrador)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Orquestrador)": {
      "main": [
        [
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Gemma 4:26b": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Orquestrador)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent (Orquestrador)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
